{% extends "::base.html.twig" %}

{% block title %}Email show{% endblock %}

{% block body %}
    <h1>Email: </h1>
    <p> Address: {{email.address}} </p>
    <p> Type:  {{email.type}} </p>

{% endblock %}