{% extends "::base.html.twig" %}

{% block title %}Phone show{% endblock %}

{% block body %}
    <h1>Phone: </h1>
    <p> Number: {{phone.address}} </p>
    <p> Type:  {{phone.type}} </p>

{% endblock %}